#app-main-container {
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(12, 8.33%);
	width: 100%;
	height: 100vh;
	color: white;
	font-size: 16px;
}

.corner-lines {
	position: relative;
	transition: all 0.5s;
}

.extend-corner-lines {
	width: 45vw;
	height: 45vh;
}

#top-left-lines {
    grid-column-start: 2;
    grid-row-start: 2;
}

#top-right-lines {
	grid-column-start: 11;
    grid-row-start: 2;
}
#bottom-left-lines {
	/* transform: rotate(180deg); */
	grid-column-start: 2;
    grid-row-start: 11;
}
#bottom-right-lines {
	/* transform: rotate(180deg); */
	grid-column-start: 11;
    grid-row-start: 11;
}

.corner-lines::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	background: rgba(255, 255, 255, 1);
	transition: all 0.5s;
	z-index: 4;
}

.corner-lines::after {
	position: absolute;
	content: '';
	width: 2px;
	height: 100%;
	background: rgba(255, 255, 255, 1);
	transition: all 0.5s;
	z-index: 4;
}

#top-left-lines::before,
#top-right-lines::before {
	top: 1vh;
}
#top-left-lines::after,
#bottom-left-lines::after {
	left: 1vw;
}

#top-right-lines::after,
#bottom-right-lines::after {
	right: 1vw;
}

#bottom-left-lines::before,
#bottom-right-lines::before {
	bottom: 1vh;
}

*::selection {
    color: #000;
    background: #FFF;
}

*::-moz-selection {
    color: #000;
    background: #FFF;
}

@media only screen and (max-width: 600px) {
	#app-main-container {
	  font-size: 8px;
	}

	.corner-lines {
		width: 10vw;
	}
}