#home-container {
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(12, 8.33%);
    background: #0a0a0a;
    grid-column: 1 / 13;
    grid-row: 1 / 13;
}

#home-presentation {
    grid-column: 3 / span 5;
    grid-row: 3 / 3;
    z-index: 2;
    display: flex;
}

#home-presentation p {
	position: relative;
	font-family: 'Space Mono', sans-serif;
    font-size: 3em;
    margin: 0 .6em 0 0;
}

#home-presentation-me {
    position: relative;
	color: #23cba7;
}

#home-presentation-me:hover {
	cursor: pointer;
}

#home-presentation-me::after {
	position: absolute;
	content: '';
	width: 0;
	height: 2px;
	background: #23cba7;
	bottom: 0.2em;
	left: 0;
	transition: all 0.3s;
}

#home-presentation-me:hover::after {
	width: 100%;
	cursor: pointer;
}

#home-page-title {
    position: absolute;
    display: flex;
    justify-content: center;
	height: 100%;
	left: 0;
	margin: 0;
	z-index: 1;
}
#home-page-title p {
	font-size: 3em;
	color: white;
	font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-orientation: sideways;
    writing-mode: vertical-rl;
    text-align: center;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    letter-spacing: 7vh;
	margin: 0;
	opacity: 0.2;
}

#home-coordinates-container {
	display: flex;
	flex-flow: column;
	font-size: 3em;
    grid-column: 3 / span 5;
    grid-row: 9 / span 3;
	z-index: 2;
	margin: 0;
}

#home-coordinates-container p {
	margin: 0;
}

@media only screen and (max-width: 1024px) {
	
	#home-presentation {
		grid-column: 3 / span 8;
		grid-row: 4 / 4;
		align-self: center;
	}

	#home-coordinates-container {
		grid-column: 3 / span 10;
		grid-row: 8 / span 3;
	}

}
