#home-container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100vh;
	/* background-image: linear-gradient(to left bottom, #090909, #272c35, #375061, #417a8a, #4fa6aa); */
	background: rgba(5, 5, 15, 1);
}

#home-bg {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(
		to left bottom,
		#090909,
		#272c35,
		#375061,
		#417a8a,
		#4fa6aa
	);
	position: absolute;
	z-index: -1;
}

#top-thing {
	display: flex;
    justify-content: center;
    align-items: flex-end;
	width: 100%;
	height: 0px;
	background: rgba(25, 25, 55, 0.6);
	/* border: 20px solid white;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px; */
	position: absolute;
	transition: all 0.4s;
}

#menu-down-arrow{
	height: 40px;
	width: 40px;
	border-style: solid;
	border-color: white;
	border-width: 0px 2px 2px 0px;
	border-radius: 2px;
	transform: rotate(45deg);
    transition: all 0.4s;
    margin-bottom: -40px;
}

#menu-down-arrow:hover {
	cursor: pointer;
	height: 45px;
	width: 45px;
}
