.nav-link-left,
.nav-link-right {
	position: absolute;
	text-decoration: none;
	font-family: 'Quicksand', 'Segoe UI', sans-serif;
	color: white;
	padding: 0 0.3em;
	margin: 0 1em;
	transition: all 0.3s;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
}

.nav-link-left::before,
.nav-link-right::after {
	position: absolute;
	width: 0;
	top: 50%;
	height: 1px;
	margin-top: -1px;
	background: rgba(255, 255, 255, 0.6);
	content: '';
	z-index: -1;
	-webkit-transition: all 0.3s, opacity 0.3s;
	-moz-transition: all 0.3s, opacity 0.3s;
	transition: all 0.3s, opacity 0.3s;
	pointer-events: none;
}

.nav-link-right,
.nav-link-right::after {
	right: 0;
}

.nav-link-right:focus,
.nav-link-right:hover {
	margin-right: 2.5em;
}

.nav-link-right:focus::after,
.nav-link-right:hover::after {
	width: 1.5em;
	right: -1.5em;
}

.nav-link-left,
.nav-link-left::before {
	left: 0;
}

.nav-link-left:focus,
.nav-link-left:hover {
	margin-left: 2.5em;
}

.nav-link-left:focus::before,
.nav-link-left:hover::before {
	width: 1.5em;
	left: -1.5em;
}

.scaleFade {
	-webkit-animation: scaleFade 0.2s forwards;
	-moz-animation: scaleFade 0.2s forwards;
	animation: scaleFade 0.2s forwards;
}

@-webkit-keyframes scaleFade {
	50% {
		opacity: 1;
		-webkit-transform: scale(1);
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(2.5);
	}
}

@-moz-keyframes scaleFade {
	50% {
		opacity: 1;
		-moz-transform: scale(1);
	}

	100% {
		opacity: 0;
		-moz-transform: scale(2.5);
	}
}

@keyframes scaleFade {
	50% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(2.5);
	}
}

#home-link {}

#projects-dashboard-link {}

.active {
	visibility: visible;
	opacity: 1;
}