#popup-container {
    display: flex;
    position: absolute;
    width: 30vw;
    height: 30vh;
    top: 35vh;
    left: 35vw;
	background: rgba(35, 203, 167, 0.7);
    border-radius: 1em;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    z-index: 100;
    align-self: center;
}

#popup-container-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#popup-container p {
    margin-top: 2em;
    margin-left: 1em;
}

#popup-container-image {
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    left: 0;
    opacity: 1;
}

#popup-close-btn {
    display: none;
    position: relative;
    height: 30px;
    width: 30px;
    right: 0;
    top: 0;
    margin: 10px;
    z-index: 200;
}

#popup-close-btn::before, #popup-close-btn::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: white;
}

#popup-close-btn::before {
    transform: translateY(9px) rotate(45deg);
}

#popup-close-btn::after {
    transform: translateY(9px) rotate(-45deg);
}

@media only screen and (max-width: 600px) {
    
    #popup-container-image {
        width: 70%;
        border-radius: 1em;
    }

    #popup-container-info {
        width: 40%;
    }

    #popup-close-btn {
        display: block;
    }
    
}
