#popup-container {
	position: absolute;
    display: flex;
    align-items: center;
	top: 0;
	width: 40vw;
	height: 30vh;
	margin: 25vh 25vw;
	background: rgba(35, 203, 167, 0.7);
    border-radius: 1em;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    z-index: 100;
}

#popup-container-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}

#popup-container p {
    margin-top: 2em;
    margin-left: 1em;
}

#popup-container-image {
    height: 100%;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    left: 0;
    opacity: 1;
}