#projects-dashboard-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
    background: #0A0A0A;
    z-index: 3;
}

#project-page-title {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100vh;
    left: 0;
}
#project-page-title p{
    font-size: 3em;
	color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    letter-spacing: 8vh;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    margin: 0;
    opacity: 0.2;
}

#project-viewholder {
	position: absolute;
	display: flex;
	justify-content: center;
    align-items: center;
    overflow: hidden;
	width: 68vw;
	height: 78vh;
	opacity: 1;
	transition: all 0.3s;
    z-index: 3;
}

#project-side-panel {
    display: flex;
	border-right: 2px solid rgba(255, 255, 255, 0.4);
	height: 90%;
	width: 10vw;
    margin: 5% 1px 5% 0;
    transition: all 0.2s;
    z-index: 3;
}

#project-side-panel p {
	position: absolute;
    left: 0;
    bottom: 0;
    width: 60vh;
	/* Border is the new background */
	background: none;
    z-index: 3;
    overflow: hidden;
	/* Rotate from top left corner (not default) */
    transform-origin: 0 0;
    margin-left: 1em;
    margin-bottom: 1em;
	font-size: 1.2em;
	transform: rotate(270deg);
	color: white;
	font-family: 'Source Code Pro', sans-serif;
}

#project-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
	height: 100%;
	width: 58vw;
    transition: all 0.2s;
    z-index: 2;
}

#project-image {
    position: relative;
    opacity: 0.8;
    max-width: 102%;
    z-index: 2;
    transition: all 0.5s;
}

#project-image-overlay {
    position: absolute;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	background: rgba(0, 0, 0, 0.5);
	z-index: 5;
	height: 100%;
	width: 58vw;
    opacity: 0;
}

#project-image-overlay h3 {
	position: relative;
	font-family: 'Source Code Pro', sans-serif;
	color: white;
	font-size: 2em;
    z-index: 5;
}

#project-image-overlay p {
	position: relative;
	font-family: 'Source Code Pro', sans-serif;
    color: white;
    width: 100%;
    max-width: 52vw;
	font-size: 2em;
	margin: 1em 3vw;
    z-index: 5;
}